body{
    background-color: antiquewhite;
    
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
.navbar-inverse{
    background-color: rgb(60, 60, 82);
}
.content-section{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.article-data {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .navbar-nav{
    display: block;
    padding: 0%;
  }